<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheng.consultexpert">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.cheng.consultexpert.app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity
            android:name="com.cheng.consultexpert.MainActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="com.cheng.consultexpert.ui.view.SearchActivity" />
        <activity
            android:name="com.cheng.consultexpert.ui.view.QuestionListActivity"
            android:label="@string/title_activity_expert_list"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.cheng.consultexpert.ui.view.QuestionDetailActivity"
            android:label="@string/title_activity_expert_detail"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.cheng.consultexpert.ui.view.AnswerQuestionActivity"
            android:label="@string/title_activity_ask_expert"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.cheng.consultexpert.ui.view.MyNeedAnswerQuestionListActivity" />
        <activity android:name="com.cheng.consultexpert.ui.view.MyAnsweredQuestionActivity" />
        <activity android:name="com.cheng.consultexpert.ui.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".ui.view.BaseActivity" -->
        <!-- android:label="@string/title_activity_base" -->
        <!-- android:theme="@style/AppTheme2" /> -->
        <activity android:name="com.cheng.consultexpert.ui.view.MyQuestionDetailActivity" />
        <activity
            android:name="com.cheng.consultexpert.ui.view.QuestionCategoryActivity"
            android:label="@string/title_activity_expert_category"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="com.cheng.consultexpert.ui.view.MyProfileActivity">

        </activity>
        <activity android:name=".ui.view.RegistActivity"></activity>
    </application>

</manifest>